body{
    background-color: #44BCEE;
}
.responsive{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
h1{
    font-family: "Roboto";
    word-spacing: 3px;
    color: #787d7a;
    font-size: 50px;
    
}
 a{
    letter-spacing: 1px;
}
.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    margin: 80px 730px 80px 730px;
    height: 550px;
    border-radius: 8px;
    padding: 20px;
}
.container img{
     
    width: 150px;
    
    margin-bottom: 40px;
    
}

.links{
    margin-left: 250px;
    text-decoration: none;
    margin-top: -10px;
    font-family: "Raleway";
    color: #787d7a;
    font-size: 12px;

}
.link{
    margin-left: 350px;
    text-decoration: none;
    margin-top: -10px;
    font-family: "Raleway";
    color: #787d7a;
    font-size: 10px;
 
}

.container a:hover{
    color: black;
}
.fields{
    border-radius: 8px;
    border: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 35px;
    width: 370px;
    font-family: "Raleway";
    padding: 0px;
    outline: none;
    padding-left: 10px;
    
}
input.fields, textarea{
    background: #e6e6e6;
}

.button{
    border-radius: 8px;
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 35px;
    width: 380px;
    font-family: "Raleway";
    color:white;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: #44BCEE;
   
    
}
.button:active{
    box-shadow: 0 5px #15ABEA;
    transform: translateY(4px);

}
.main h1{
    text-align: center;
}


